* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #fff;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.lista {
  width: 600px;
  min-height: 500px;
  background-color: #e7e7e7;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}

.titulo {
  color: #000;
  font-size: 45px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}



